.download-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 124px;
  background-image: url(../img/download/download-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    background-image: url(../img/download/download-bg-desk.png);
    background-position: top 40px center;
    padding-top: 0;
    padding-bottom: 150px;
    max-width: 1440px;
  }
}

.download-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 167px;
  }
}

.download-phone-img {
  margin-bottom: 22px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.download-text-wrapper {
  @include media(desktop) {
    padding-top: 146px;
  }
}

.download-title {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #cbed37;
  margin-bottom: 16px;
}

.download-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #cbed37;
  margin-bottom: 22px;

  @include media(desktop) {
    max-width: 374px;
  }
}

.download-btn-wrapper {
  display: flex;
  justify-content: center;

  @include media(desktop) {
    justify-content: start;
  }
}

.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    justify-content: start;
  }
}
