.hero-section {
}

.hero-bg-wrapper {
  padding-top: 113px;
  padding-bottom: 80px;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.jpg);
    padding-top: 156px;
    padding-bottom: 294px;
    max-width: 1440px;
  }
}

.hero-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.hero-title-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;

  @include media(desktop) {
    margin-left: 0;
    margin-bottom: 42px;
  }
}

.hero-btn-wrapper {
  display: flex;
  justify-content: center;

  @include media(desktop) {
    max-width: 576px;
  }
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-girl-img {
  margin: 0 auto;

  @include media(desktop) {
    display: none;
  }
}
