<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About the Game</h2>
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-bg-desk.png"
            media="(min-width: 1440px)"
            width="630"
            height="356"
          />
          <source
            srcset="./img/about/about-bg-mob.png"
            width="375"
            height="212"
          />
          <img
            class="about-bg-img"
            src="./img/about/about-bg-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="212"
            loading="lazy"
          />
        </picture>
        <div class="about-text-wrapper">
          <p class="about-text">
            A Simple Tap Can Save the Earth!<br />
            <span class="about-span">Forest Cleaner</span> is a peaceful,
            eco-conscious game where your job is to clean up polluted forests
            by collecting litter and reviving nature. Every action brings
            visible change—from trash to treasure, from gray to green. Relax,
            clean, and rebuild the environment one tap at a time.
          </p>
        </div>
      </div>
      <img
        class="about-img-desk"
        src="./img/about/about-plant.png"
        alt="Plant"
        width="187"
        height="196"
        loading="lazy"
      />
    </div>
  </div>
</section>
