<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About the Game</h2>
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-bg-desk.png"
            media="(min-width: 1440px)"
            width="845"
            height="477"
          />
          <source
            srcset="./img/about/about-bg-mob.png"
            width="375"
            height="212"
          />
          <img
            class="about-bg-img"
            src="./img/about/about-bg-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="212"
            loading="lazy"
          />
        </picture>
        <div class="about-text-wrapper">
          <p class="about-text">
            <span class="about-span"
              >From Dusty Palaces to Glamorous Halls!</span
            ><br />
            Step into a regal world where your sense of style decides
            everything. In Royal Decor: Design & Makeover, you’ll breathe life
            into forgotten manors, restore antique elegance, and create modern
            masterpieces. Each renovation reveals a new chapter in a royal
            design saga.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
