<section class="section benefits-section" id="benefits">
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <h2 class="section-title benefits-title">Benefits</h2>
      <div class="benefits-content-wrapper">
        <picture>
          <source
            srcset="./img/benefits/benefits-bg-desk.png"
            media="(min-width: 1440px)"
            width="630"
            height="356"
          />
          <source
            srcset="./img/benefits/benefits-bg-mob.png"
            width="375"
            height="212"
          />
          <img
            class="benefits-bg-img"
            src="./img/benefits/benefits-bg-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="212"
            loading="lazy"
          />
        </picture>
        <div class="benefits-text-wrapper">
          <ul class="benefits-list">
            <li class="benefits-list-item">
              <img
                class="benefits-item-img"
                src="./img/benefits/benefits-recycle-sign.png"
                alt="Recycle sign"
                width="49"
                height="49"
                loading="lazy"
              />
              <div class="benefits-item-text-wrapper">
                <h3 class="benefits-item-title">Safe for All Ages:</h3>
                <p class="benefits-item-text">
                  Educational and non-violent fun for kids and adults.
                </p>
              </div>
            </li>
            <li class="benefits-list-item">
              <img
                class="benefits-item-img"
                src="./img/benefits/benefits-recycle-sign.png"
                alt="Recycle sign"
                width="49"
                height="49"
                loading="lazy"
              />
              <div class="benefits-item-text-wrapper">
                <h3 class="benefits-item-title">Stress-Free Gameplay:</h3>
                <p class="benefits-item-text">
                  Designed to relax you while you play.
                </p>
              </div>
            </li>
            <li class="benefits-list-item">
              <img
                class="benefits-item-img"
                src="./img/benefits/benefits-recycle-sign.png"
                alt="Recycle sign"
                width="49"
                height="49"
                loading="lazy"
              />
              <div class="benefits-item-text-wrapper">
                <h3 class="benefits-item-title">Positive Vibes:</h3>
                <p class="benefits-item-text">
                  Every task feels meaningful and constructive.
                </p>
              </div>
            </li>
            <li class="benefits-list-item">
              <img
                class="benefits-item-img"
                src="./img/benefits/benefits-recycle-sign.png"
                alt="Recycle sign"
                width="49"
                height="49"
                loading="lazy"
              />
              <div class="benefits-item-text-wrapper">
                <h3 class="benefits-item-title">Offline Mode:</h3>
                <p class="benefits-item-text">
                  Play anytime, anywhere—no connection needed.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <img
          class="benefits-img-desk"
          src="./img/benefits/benefits-basket.png"
          alt="Plant"
          width="187"
          height="196"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
