<section class="section download-section" id="download">
  <div class="download-bg-wrapper">
    <div class="container download-container">
      <div class="download-content-wrapper">
        <picture>
          <source
            srcset="./img/download/download-phone-desk.png"
            media="(min-width: 1440px)"
            width="387"
            height="429"
          />
          <source
            srcset="./img/download/download-phone-mob.png"
            width="335"
            height="371"
          />
          <img
            class="download-phone-img"
            src="./img/download/download-phone-mob.png"
            alt="Basket"
            width="335"
            height="371"
          />
        </picture>
        <div class="download-text-wrapper">
          <h3 class="download-title">
            Clean, Restore, Relax — Play Forest Cleaner Today!
          </h3>
          <p class="download-text">
            Join thousands of players doing their part for the virtual planet.
            With just a tap, you can start turning polluted spaces into thriving
            green zones. Download now and feel the difference you make!
          </p>
          <div class="download-btn-wrapper">
            <a
              class="download-btn"
              href="#home"
              rel="noopener noreferrer"
              title="Download the game Forest Cleaner on Google Play"
              aria-label="Download the game Forest Cleaner on Google Play"
            >
              <img
                class="download-google-play-img"
                src="./img/hero/hero-google-play.png"
                alt="Google Play"
                width="243"
                height="70"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
