<section class="section features-section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-section-title">Features</h2>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img1.png"
                alt="Features picture"
                width="209"
                height="155"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Interactive Cleanup:</h3>
            <p class="features-text">
              Tap to pick up trash and watch the environment transform.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img2.png"
                alt="Features picture"
                width="209"
                height="155"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Beautiful Forests:</h3>
            <p class="features-text">
              Each area becomes more lush and vibrant as you clean.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img3.png"
                alt="Features picture"
                width="209"
                height="155"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Satisfying Progress:</h3>
            <p class="features-text">
              Visually rewarding as you return the forest to life.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img4.png"
                alt="Features picture"
                width="209"
                height="155"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Eco Message:</h3>
            <p class="features-text">
              A casual way to promote environmental awareness.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img5.png"
                alt="Features picture"
                width="209"
                height="155"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Soothing Sounds:</h3>
            <p class="features-text">
              Calming background music and nature effects.
            </p>
          </li>
        </ul>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="featuresLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="featuresRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
