<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Game Features</h2>
      <div class="features-content-wrapper">
        <picture>
          <source
            srcset="./img/features/features-bg-desk.png"
            media="(min-width: 1440px)"
            width="630"
            height="356"
          />
          <source
            srcset="./img/features/features-bg-mob.png"
            width="375"
            height="212"
          />
          <img
            class="features-bg-img"
            src="./img/features/features-bg-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="212"
            loading="lazy"
          />
        </picture>
        <div class="features-text-wrapper">
          <ul class="features-list">
            <li class="features-list-item">
              <div class="features-item-arrow-wrapper">
                <svg class="arrow-icon" width="14" height="6">
                  <use href="./img/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Elegant makeovers of classic estates
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-item-arrow-wrapper">
                <svg class="arrow-icon" width="14" height="6">
                  <use href="./img/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Match-based mechanics tied to renovation
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-item-arrow-wrapper">
                <svg class="arrow-icon" width="14" height="6">
                  <use href="./img/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Intriguing narrative and evolving relationships
              </p>
            </li>
          </ul>
          <ul class="features-list">
            <li class="features-list-item">
              <div class="features-item-arrow-wrapper">
                <svg class="arrow-icon" width="14" height="6">
                  <use href="./img/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Premium decorative items and legendary unlocks
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-item-arrow-wrapper">
                <svg class="arrow-icon" width="14" height="6">
                  <use href="./img/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
              <p class="features-item-text">
                Daily bonus chests and festive events
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-item-arrow-wrapper">
                <svg class="arrow-icon" width="14" height="6">
                  <use href="./img/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
              <p class="features-item-text">Global Design Destinations</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
