<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="650"
          height="446"
        />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="375"
          height="257"
        />
        <img
          class="hero-title-img"
          src="./img/hero/hero-title-mob.png"
          alt="Title"
          width="375"
          height="257"
        />
      </picture>
      <div class="hero-btn-wrapper">
        <a
          class="hero-btn"
          href="#download"
          rel="noopener noreferrer"
          title="Download the game Forest Cleaner on Google Play"
          aria-label="Download the game Forest Cleaner on Google Play"
        >
          <img
            class="hero-google-play-img"
            src="./img/hero/hero-google-play.png"
            alt="Google Play"
            width="243"
            height="70"
          />
        </a>
      </div>
      <picture>
        <source
          srcset="./img/hero/hero-basket-desk.png"
          media="(min-width: 1440px)"
          width="859"
          height="726"
        />
        <source
          srcset="./img/hero/hero-basket-mob.png"
          width="375"
          height="317"
        />
        <img
          class="hero-basket-img"
          src="./img/hero/hero-basket-mob.png"
          alt="Basket"
          width="375"
          height="317"
        />
      </picture>
      <img
        class="hero-sign-img"
        src="./img/hero/hero-sign.png"
        alt="Sign"
        width="182"
        height="353"
      />
    </div>
  </div>
</section>
