<section class="section highlights-section" id="highlights">
  <div class="highlights-section-wrapper">
    <div class="container highlights-container">
      <h2 class="section-title highlights-section-title">Highlights</h2>
      <div class="highlights-swiper-container">
        <ul class="swiper-wrapper highlights-swiper-wrapper">
          <li class="swiper-slide highlights-slide">
            <div class="highlights-picture-wrapper">
              <img
                src="./img/highlights/highlights-img1.png"
                alt="highlights picture"
                width="306"
                height="405"
                loading="lazy"
              />
            </div>
            <h3 class="highlights-title">Design Without Limits:</h3>
            <p class="highlights-text">Mix vintage charm with modern glamour</p>
          </li>
          <li class="swiper-slide highlights-slide">
            <div class="highlights-picture-wrapper">
              <img
                src="./img/highlights/highlights-img2.png"
                alt="highlights picture"
                width="306"
                height="405"
                loading="lazy"
              />
            </div>
            <h3 class="highlights-title">Royal Missions:</h3>
            <p class="highlights-text">
              Complete tasks to unlock hidden halls and storylines
            </p>
          </li>
          <li class="swiper-slide highlights-slide">
            <div class="highlights-picture-wrapper">
              <img
                src="./img/highlights/highlights-img3.png"
                alt="highlights picture"
                width="306"
                height="405"
                loading="lazy"
              />
            </div>
            <h3 class="highlights-title">Diverse Palettes:</h3>
            <p class="highlights-text">
              Customize each element down to the curtains
            </p>
          </li>
          <li class="swiper-slide highlights-slide">
            <div class="highlights-picture-wrapper">
              <img
                src="./img/highlights/highlights-img4.png"
                alt="highlights picture"
                width="306"
                height="405"
                loading="lazy"
              />
            </div>
            <h3 class="highlights-title">Earn Stars & Prestige:</h3>
            <p class="highlights-text">
              The better you design — the faster you rise
            </p>
          </li>
          <li class="swiper-slide highlights-slide">
            <div class="highlights-picture-wrapper">
              <img
                src="./img/highlights/highlights-img5.png"
                alt="highlights picture"
                width="306"
                height="405"
                loading="lazy"
              />
            </div>
            <h3 class="highlights-title">cool Gameplay:</h3>
            <p class="highlights-text">
              Meet noble characters and explore their secrets
            </p>
          </li>
        </ul>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="highlightsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="highlightsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
