<section class="section reviews-section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">Reviews</h2>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-rating-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "A relaxing game with beautiful artwork and fun evolution
              mechanics."
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-soul.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">GreenSoul88:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-rating-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "It’s so relaxing to watch the forest come back to life. I love
              it!"
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-mom.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">EcoMom:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-rating-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "My kids actually fight over who gets to clean next. Best kind of
              game!"
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-buff.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">NatureBuff:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-rating-4-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "A chill game with a message. The visuals are stunning!"
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-ninja.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">TrashNinja:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-rating-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "Super satisfying when the area goes from dirty to clean!"
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-forest.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">ZenForest:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-rating-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "This game is my new go-to for de-stressing after work."
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-jake.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">MossyJake:</h3>
            </div>
          </li>
        </ul>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="reviewsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="reviewsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
