<section class="section reviews-section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">Reviews</h2>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-elena.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">ElenaGrace:</h3>
            </div>
            <p class="reviews-text">
              “Every room feels like a royal dream come true! Obsessed with the
              wallpapers.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-lord.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">LordDesign:</h3>
            </div>
            <p class="reviews-text">
              “Finally, a makeover game with taste! So refined, so satisfying.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-vera.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">Vera_Swan:</h3>
            </div>
            <p class="reviews-text">
              “Love the blend of puzzle and storytelling. Makes me feel like a
              castle curator.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-leo.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">LuxeLeo:</h3>
            </div>
            <p class="reviews-text">
              “10/10! I could live in the rooms I create in this game.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-silvia.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">SilviaBloom:</h3>
            </div>
            <p class="reviews-text">
              “The characters are charming and the interiors are addictive!”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-retro.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">RetroRoyal:</h3>
            </div>
            <p class="reviews-text">
              “My favorite moment? Picking chandeliers. Every time.”
            </p>
          </li>
        </ul>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="reviewsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="reviewsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
