@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/features.scss';
@import './components/benefits.scss';
@import './components/gallery.scss';
@import './components/download.scss';
@import './components/reviews.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy.scss';
